{% extends "layout/index.njk" %}

{% block beforeContainer %}
 
{% endblock %}

{% block content %}
  <div class="mot">
      <div class="jumbotron">
      <img class="card-img-top" src="static/images/Jumbo.jpg" alt="Card image cap">
  <h1 class="display-4">Bienvenue</h1>
  <p class="lead">Vos prochaines réunions ou vous voulez</p>
  <hr class="my-4">
  <p>les salles disponibles</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg " href="/locations" role="button" >découvrir nos biens</a>
  </p>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="static/images/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <a href="/locations/:location_id"  class="btn btn-primary btn-lg btn-block" role="button"> Louez moi  </a>
      
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="static/images/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <a href="/locations/:location_id"  class="btn btn-primary btn-lg btn-block" role="button"> Louez moi  </a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="static/images/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <a href="/locations/:location_id"  class="btn btn-primary btn-lg btn-block" role="button"> Louez moi  </a>
    </div>
  </div>
</div>  
  </div>
 
{% endblock %}



