{% extends "layout/index.njk" %}

{% block beforeContainer %}
 
{% endblock %}

{% block content %}
<div>
<div class="flex-row">
{# <div class="card-deck" style="max-width: 18rem;"> #}
<div class="card col-12 col-md-3 mx-2 mt-3">
{% for annonce in annonces %}
<div>
 <div class="card">
    <img class="card-img-top" style="max-width: 255px;" src="/static/images/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ annonce.titre}}</h5>
      <p class="card-text">{{annonce.description}}</p>
      <div class="card-footer">
      <a href="/locations/{{annonce._id}}"  class="btn btn-primary btn-block" role="button"> Louez moi  </a>
    </div>
  </div>

  

</div>
{% else %}
  <li>Cela devrait s'afficher si la collection 'annonce' est vide</li>
{% endfor %}
</div>
</div>



{% endblock %}