#game-main .row {
  flex-direction: column-reverse;
}
@media (min-width: 992px) {
  #game-main .row {
    flex-direction: row;
  }
}

#titre{
  /* font-family: 'robotocondensed-regular'; */
  text-transform: uppercase;
}

/* #description{
  font-family: 'robotocondensed-regular';
} */