.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #FFFFFF;
  border-radius: .3rem;
  background:transparent;
 }

.body {
  background-image: url(/assets/images/retro-bg.jpg);
  background-size: cover !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

#wtf {
  height: calc(100vh - 456px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}



footer {
  padding: 1rem !important;
  background-color: #141414 !important;
  color: white !important;
  width: 100%;
  text-align: center;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  /* @include media-breakpoint-only(xl) {
    column-count: 5;
  } */
}
