<footer class="footer">
  <div class="content has-text-centered">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-12">    
        <p>
          <strong>TempOffice</strong> by <a href="https://www.youtube.com/watch?v=2Z4m4lnjxkY" target="_blank"></a>. © 2020 Copyright: Corporation.
         </p>
      </div>
    </div>
</footer>
