{% block css %}
<link rel="stylesheet" href="/static/styles/footer.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


{# <section>Footer Example 4</section> #}
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Temp<span>Office</span></h3>

				<p class="footer-links">
					<a href="#" class="link-1">Home</a>
					
					<a href="#">Blog</a>
				
					<a href="#">Pricing</a>
				
					<a href="#">About</a>
					
					<a href="#">Faq</a>
					
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">TempOffice © 2020</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Place Saint-Hubert</span> Lille France</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>0604050608</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a 
          href="mailto:tempoffice.contact@gmail.com">tempoffice.contact@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>La Team TempOffice</span>
					Caroline Damien Loïc Mariama Sarah Sylvie
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>

    {% endblock %}