<footer class="footer">
  <div class="content has-text-centered">
    <div class="row">
      <div class="col-sm-3">
        <a href="https://www.youtube.com/watch?v=2Z4m4lnjxkY"><img src="assets/images/logo.png" width="30" height="30"></a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.youtube.com/watch?v=2Z4m4lnjxkY">Email@mail.com</a>
      </div>
      <div class="col-sm-3">
        <a href="https://fr.wikipedia.org/wiki/Saul_Goodman">Légal</a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.youtube.com/watch?v=2Z4m4lnjxkY">Secret Button</a>
      </div>
      <div class="col-sm-12">    
        <p>
          <strong>Champion Squad Catalog</strong> by <a href="https://www.youtube.com/watch?v=2Z4m4lnjxkY" target="_blank"> The Champion's Ligue </a>. © 2020 Copyright: Trololol Corporation.
         </p>
      </div>
    </div>
</footer>
