<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <a  href="/">TempOffice</a>
          <span class="navbar-toggler-icon"></span>
 
    <div >
        <form class="form-inline " >
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  

    <div class="collapse navbar-collapse d-flex justify-content-end " >
      <ul class="navbar-nav ">
        <li class="nav-item text" >
          <a class="nav-link title" href="/locations">Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link title" href="/">Message</a>
        </li>
        <li class="nav-link title">
        
          {% if isLoggedIn%}
            <a href="/api/creation_annonce">Proposer ma salle</a>
            {% else %}
            {% endif %}     
         
            {% if isLoggedIn%}
        </li>
        <li class="nav-link title ">
            <a href="/api/logout">
              Logout
              </a>
            {% else %}
              <a href="/api/login">
                Login
              </a>

            {% endif %}
        </li>
      </ul>
    </div>
  
  
          
          
            
     
</nav>