<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
   
  
      <a class="navbar-brand title mr-auto" href="/">TempOffice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
   
       

    <div class="navbar-brand mr-auto ml-auto">
        <form class="form-inline " >
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </li>
      <li>
        <div class="d-flex justify-content-end">

            <a href="/locations" 
               <button type="button" class="btn btn-warning" type="submit"> Je propose ma salle </button></a>
            <a href="" 
               <button type="button" class="btn btn-warning" type="submit"> Nos locations </button></a>
                <p class="confirm_Mail">
                  <a class="btn btn-outline-secondary " href="/api/sendMail" role="button" > message </a>
                </p>
            <a href={{ login_url }}> <button type="button" class="btn btn-secondary" type="submit">Login</button></a>
        </div>
      </li>
    </ul>
  </div>

</div>
</nav>